    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <h3>Hello!</h3>
                <p>I am a junior software development engineer. I love creating solutions for tough problems and providing value to the customer.</p>
                <p>Check out my current and past projects <a href="https://github.com/kep3d">here</a></p>
                <p>I am currently working on a set of financial tools to help others better manage their finances and improve their general financial literacy. These include financial calculators, portfolio construction and analysis, and algorithmic strategies with backtesting.</p>
                <p>My hobbies are basketball, weight training, and tinkering with fun hardware and machines. These include but are not limited to: x86 PC components, android phones, sports cars from Craigslist.
        </div>
    </section>